/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:0px}
}

/* Control the left side */
body{
  background-color: #FF9F1C
}
.left {

  background-color:#FFBF69;
  left: 10px;
  font-family:{"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:0px}
}

/* Control the right side */
.right {

  right: 10px;
  background-color:#E1F2F1;
  font-family:{"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:0px}
}

/* If you want the content centered horizontally and vertically */
.topright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:0px}
}

/* Style the image inside the centered container, if needed */
.center img {
  width: 150px;
  border-radius: 50%;
}


.textarea {
  margin-bottom: 40px



}


