h1 {
  color: #FE5F55; font-size:120px;font-family:'Darker Grotesque', sans-serif;
}

h2{
  color:white ; font-size: 45px; font-family:'Darker Grotesque', sans-serif;
}

body{
  background-color: #F4E897;
}

.button{
  background:#C7EFCF ;
    border: 0;
    color: black;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    border-radius: 6px;
    font-weight: bold;
}

.button:hover {
  background-color: #F4E897;
  color:black;
}
